* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ========== Header ========= */
.header .body {
  display: flex;
}

.nav {
  
}

.nav ul {
  display: flex;
}